.Card {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: #9e76f57c;
  text-align: center;
  font-size: 0.8em;
  line-height: 5px;
}

.cardFavorite {
  width: 2em;
  height: auto;
  font-size: 2em;
  order: 1;
  background: none;
  border: none;
  position: absolute;
  margin: 0 0 0 0.5em;
}

.cardDelete {
  width: 1.7em;
  height: auto;
  background-color: #ff0000da;
  border-radius: 50%;
  border: none;
  padding: 5px;
  color: white;
  font-size: 1.5em;
  order: 2;
  position: absolute;
  margin: 0 0 0 11em;
}

.h2Link {
  background-color: #251e1ec7;
  order: 3;
  color:bisque;
}

.Card h2 {
  order: 4;
}
.Card img {
  width: auto;
  height: 200px;
  border-radius: 5px;
  order: 3;
}
